<div class="Nav">
    <div class="brand">
        <a class="navbar-brand" href="/">Subs.io</a>
    </div>
    <div class="nav_item">
        <NavLink class="nav-link" href="add-subscription" Match="NavLinkMatch.All">
            <span></span>Add Subscription
        </NavLink>
    </div>
</div>