<div class="Nav">
    <div class="brand">
        <a class="navbar-brand" href="/">Subs.io</a>
    </div>
    <div class="nav_item">
        <NavLink class="nav-link-1" href="create-asn" Match="NavLinkMatch.All">
            Create New ASN
        </NavLink>
        <NavLink class="nav-link" href="add-subscription" Match="NavLinkMatch.All">
            Add Subscription
        </NavLink>
    </div>
</div>