@using System.ComponentModel.DataAnnotations;

<p>Create New ASN - (Add PO Detail Entry)</p>

<EditForm Model="Model" Context="formContext">
    <DataAnnotationsValidator />
    <DxFormLayout>
       <DxFormLayoutGroup>
         <CustomInput Placeholder="Shipment Id" label="Ship from id"/>
        <CustomInput Placeholder="purchase order Number" label="Purchase Order Number"/>
        <CustomInput Placeholder="Line Item Number" label="Line Item Number"/>
        <CustomInput Placeholder="Lot Number" label="Lot Number"/>
        <CustomInput Placeholder="Unit of Measure" label="Lot Number"/>
        <CustomInput Placeholder="Quantity shipped" label= "Quantity shipped"/>
        <CustomInput Placeholder="Item Description" label= "Item Description"/>
        <CustomButton SaveText="Save" CancelText="Cancel"/>
       </DxFormLayoutGroup>
    </DxFormLayout>
</EditForm>

@code {
    [Parameter, Required]
    public Detail_entry_model? Model { get; set; }
}