/* 
global styles
#f9a801  

*/

html,
body {
  font-family: "Inter", sans-serif;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 20px;
  font-family: "Inter", sans-serif;
}
.Nav .brand a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.nav_item {
  display: flex;
  gap: 10px;
}

.Nav .nav_item a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  background: orange;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

/* subscription container */
.sub_container {
  margin-top: 50px;
}

#total_expense {
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 5px;
  color: teal;
}
.dxbl-align-center {
  height: 40px;
}

#edit-header {
  font-size: 1.2rem;
}
.dxbl-row{
  display: flex;
}
.Layout{
  margin: 20px;
}
.dxbl-text-edit-input::placeholder {
  font-size: .8rem;
}
.dxbl-text{
  font-size: .8rem !important;
}