@page "/edit-subscription/{Id:int}"
@using System.ComponentModel.DataAnnotations;
@using Subscription_tracker.components
@inject SubscriptionService SubscriptionService
@inject NavigationManager Nav

<h3 id="edit-header">Edit Subscription</h3>

<SubscriptionForm Model="UpdateSubs" onSubmit="UpdateSubscription" />

@code {
    [Parameter] public int Id { get; set; }

    Subscription UpdateSubs = new() { Subs_name = "", Subs_plan = "", Subs_amount = ""};

    List<string> plans = new()
{
"Monthly",
"Yearly"
};

    protected override void OnInitialized()
    {
        var existing = SubscriptionService.GetById(Id);

        if (existing == null)
        {
            Nav.NavigateTo("/");
            return;
        }

        // clone object to avoid live edit issues
        UpdateSubs = new Subscription
        {
            ItemId = existing.ItemId,
            Subs_name = existing.Subs_name,
            Subs_amount = existing.Subs_amount,
            Subs_plan = existing.Subs_plan
        };
    }

    private async Task UpdateSubscription()
    {
        await SubscriptionService.UpdateSubscription(UpdateSubs);
        Nav.NavigateTo("/");
    }

    private async Task Cancel()
    {
        Nav.NavigateTo("/");
    }
}